{{posted_stuff}}<br>

<div class="jumbotron">
  <center> 
  <h1 class="display-4">{{stock.companyName}} ({{stock.symbol}})</h1>
  
  <hr class="my-4 text-center">
  <strong>Latest Price:</strong> ${{stock.latestPrice}}<br/>
<strong>Previous Close:</strong> ${{stock.previousClose}}<br/>
<strong>Change Percent:</strong> ${{stock.changePercent}}<br/>
<strong>Market Cap:</strong> ${{stock.marketCap}}<br/>
<strong> YTD Change</strong> ${{stock.ytdChange}}<br/>
<strong> Week 52 High</strong> ${{stock.week52High }}<br/>
<strong> Week 52 Low</strong> ${{stock.week52Low}}<br/>
  </center>
</div>


<br><br><br>

{{!-- <center>

<br><br>




{{#each stock}}
   {{@key}} | {{this}}<br/>
{{/each}}
</center> --}}

